.App {
  width: 80%;
  margin: 0 auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table thead td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table tbody tr:nth-child(odd) {
  background-color: #F6F6F0;
}

table tbody tr:nth-child(even) {
  background-color: #E7E5DE;
}

table thead{
  background: #FF6600;
  color:white
}

table thead tr th {
  padding: 2px;
}
.navigation{
  text-align: end;
}

tbody tr td:not(:last-child){
  text-align: center;
}

.chart {
  background-color: #E7E5DE;
  border-top: 3px solid #FF6600;
  padding: 2%;
}

@media only screen and (max-width: 400px) {
  .App {
    width: 100%;
  }
}